body
{
    background-color: black;
    color: #00FF00;
}

div
{
    display: inline;
}

a
{
    color: teal;
    text-decoration-style: none;
}

#out
{
    font-family: Consolas, Courier New, Courier, monospace;
}

.cursor-on
{
    color: #00FF00;
}

.cursor-off
{
    color: black;
}